@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #0563bb;
  --text-color: #272829;
  --header-color: #45505b;
}
body {
  width: 100vw;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.align {
  align-items: center;
}
p {
  font-family: "Open Sans", sans-serif;
}
nav#nav {
  position: fixed;
  top: 50%;
  left: 20px;
  transform: translate(0, -50%);
  z-index: 999;
}
#nav > .nav-item {
  display: block;
  margin: 10px 0;
  width: 50px;
  height: 50px;
  border-radius: 1000px;
  position: relative;
  background: #f2f3f5;
  color: var(--header-color);
  overflow: hidden;
}
#nav > .nav-item.active {
  background-color: var(--primary-color);
  color: white;
}
#nav > .nav-item > div {
  height: 100%;
  width: 100%;
  justify-content: center;
}
#nav .section {
  display: none;
  margin-left: 10px;
}
#nav > .nav-item:hover .section {
  display: block;
  /* transition: display 0.3s ease-in-out; */
}
#nav > .nav-item:hover {
  width: 115px;
  transition: width 0.3s ease-in-out;
  background-color: var(--primary-color);
  color: white;
}
section:not(#banner) {
  padding: 50px 0;
}
#banner {
  padding-left: 200px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: url(https://bootstrapmade.com/demo/templates/MyResume/assets/img/hero-bg.jpg)
    no-repeat;
  background-size: 100%;
  position: relative;
}
#banner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255, 0.8);
}
#banner > .flex-col {
  width: 100%;
  height: 100%;
  justify-content: center;
  position: absolute;
}
#banner .name {
  color: var(--header-color);
  font-size: 64px;
  font-weight: 700;
  line-height: 54px;
  margin-bottom: 15px;
}
#banner .introduct {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  line-height: 30px;
  color: var(--header-color);
}
#banner .introduct span {
  background-color: #fff;
  color: #0563bb;
  display: block;
  margin-left: 20px;
  height: 40px;
  border-right: 4px solid #0563bb;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
  font-size: 36px;
  letter-spacing: 5px;
  animation: typing 2s steps(15, end) infinite alternate,
    blink-caret 2s step-end infinite;
}
@keyframes typing {
  0%,
  25% {
    width: 230px;
  }
  75%,
  100% {
    width: 0;
  }
}
@keyframes blink-caret {
  0%,
  25% {
    border-color: #0563bb;
  }
  75%,
  100% {
    border-color: transparent;
  }
}
#banner .social-links a {
  display: block;
  color: var(--header-color);
  font-size: 24px;
  margin-top: 20px;
  margin-right: 20px;
}
.container {
  padding: 0 50px 0 150px;
}
.heading {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  color: var(--header-color);
  text-align: center;
  padding-bottom: 15px;
  position: relative;
}
.heading::after,
.heading::before {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  width: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--header-color);
  bottom: 0;
}
.heading::before {
  height: 3px;
  width: 40px;
  background-color: var(--primary-color);
}
section p.des {
  text-align: center;
  margin: 20px;
}
/* About */
#about {
  height: 100vh;
}
#about .avt {
  flex: 3;
}
#about .avt img {
  width: 100%;
  object-fit: contain;
}
#about .profile {
  flex: 7;
  margin-left: 30px;
}
#about .profile .info > p {
  width: 50%;
  margin-top: 10px;
}
#about .profile .info > p > i {
  color: var(--primary-color);
  margin-right: 5px;
}
#about .profile .job {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #728394;
}
#about .profile p {
  margin: 20px 0;
}
/* Facts */
#facts .flex {
  justify-content: space-around;
  margin-top: 20px;
}
#facts .item .icon {
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 50%;
}
#facts .item .number {
  font-weight: 700;
  font-size: 32px;
  margin: 10px 0;
}
/* Skills */
#skills .report {
  justify-content: space-between;
}
#skills .report .item {
  width: 48%;
}
#skills .report .item div:first-child {
  justify-content: space-between;
  margin: 10px 0 5px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: var(--header-color);
}
#skills .report .item .process {
  width: 100%;
  background-color: #f2f3f5;
  height: 10px;
  position: relative;
}
#skills .report .item .process::after {
  content: "";
  position: absolute;
  width: var(--process);
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--primary-color);
}
/* Service */
#service ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
#service ul li {
  text-align: center;
  padding: 70px 20px 80px 20px;
  background: #fff;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
}
#service ul li .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#service ul li:hover {
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
  transition: all ease-in-out 0.3s;
}
#service ul li .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}
#service ul li .icon i {
  font-size: 36px;
  position: relative;
}
#service ul li:hover > .icon i {
  transition: all ease-in-out 0.3s;
  color: #fff;
}
#service ul li:hover > .icon path {
  transition: all ease-in-out 0.3s;
  fill: #47aeff;
}
#service ul li .name {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
  color: var(--header-color);
}
#contact > .flex {
  margin-top: 50px;
}
#contact .info {
  width: 40%;
}
#contact .info .item {
  margin-bottom: 50px;
}
#contact .info .item .icon {
  width: 50px;
  height: 50px;
  background-color: #eef7ff;
  border-radius: 50%;
  justify-content: center;
  color: var(--primary-color);
  margin-right: 20px;
}
#contact .info .item .title {
  font-size: 22px;
  font-weight: 600;
  color: var(--header-color);
  margin-bottom: 5px;
}
form.form {
  flex: 1;
}
form.form input,
form.form textarea {
  display: block;
  width: 100%;
  padding: 10px 0 10px 10px;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 5px;
  outline: none;
  appearance: none;
  border: 1px solid #dee2e6;
}
form.form input:focus,
form.form textarea:focus {
  border-color: #86b7fe;
}
form.form .btn {
  text-align: center;
}
form.form .btn button {
  background: #0563bb;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
}
footer {
  text-align: center;
  padding: 30px 0;
  background-color: #f7f8f9;
}
footer .name {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  font-family: "Poppins", sans-serif;
  color: var(--header-color);
}
footer .socia-links {
  justify-content: center;
  margin: 20px 0;
}
footer .socia-links a {
  display: block;
  margin-right: 10px;
  font-size: 18px;
  color: white;
  background-color: var(--primary-color);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;
}
footer .socia-links a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.scroll-to-top {
  position: fixed;
  width: 35px;
  height: 35px;
  background-color: var(--primary-color);
  z-index: 999;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  justify-content: center;
  display: none;
}
