@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #000000;
  --red-color: #f44336;
  --grey-color: #cccccc;
  --white-color: #ffffff;
}

html {
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.text-white {
  color: var(--white-color);
}
header {
  background-color: var(--primary-color);
  color: var(--white-color);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
}
header a {
  color: var(--white-color);
}
.nav-item a {
  display: block;
  padding: 10px 20px;
}
.nav-item:hover {
  background-color: var(--grey-color);
}
.nav-item:last-child {
  position: relative;
}
.nav-lv2 {
  display: none;
  position: absolute;
  background-color: var(--white-color);
}
.nav-lv2 a {
  color: #000000;
}
.nav-lv2 a:hover {
  background: var(--grey-color);
}
.nav-item:last-child:hover .nav-lv2 {
  display: block;
}
.search {
  align-self: stretch;
  width: 80px;
  cursor: pointer;
}
.search:hover {
  background-color: var(--red-color);
}
#home {
  height: 100vh;
  width: 100vw;
  position: relative;
}
#home img {
  position: absolute;
  width: 100%;
  height: 100%;
}
#home div {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 50px;
  text-align: center;
  font-size: 24px;
}
#home div p {
  margin-top: 10px;
  font-size: 18px;
}
section {
  padding: 50px 0;
  width: 800px;
  margin: 0 auto;
}
.heading {
  letter-spacing: 4px;
  font-size: 30px;
  text-align: center;
}
section > p {
  font-style: italic;
  text-align: center;
  padding: 20px 0;
  opacity: 0.6;
}
#band .description {
  text-align: justify;
  padding-bottom: 30px;
}
.person {
  width: 20%;
}
.person p {
  text-align: center;
  padding-bottom: 10px;
}
.person img {
  width: 100%;
  border-radius: 2px;
}
#tour {
  color: var(--white-color);
}
#tour ul {
  background-color: var(--white-color);
  color: var(--grey-color);
}
#tour ul li {
  padding: 10px 20px;
  border-bottom: 1px solid var(--grey-color);
}
.sold-out {
  background-color: var(--red-color);
  padding: 3px 8px;
  margin-left: 30px;
  color: var(--white-color);
}
.number {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000000;
  color: var(--white-color);
}
.card-wrap {
  margin-top: 30px;
}
.card-wrap .card {
  color: #000000;
  width: 31%;
  background-color: var(--white-color);
}
.card-wrap .card img {
  width: 100%;
}
.card-wrap .card img:hover {
  filter: brightness(0.6);
}
.local {
  font-weight: 400;
}
.btn {
  border: 0;
  background-color: var(--primary-color);
  padding: 10px 20px;
  color: var(--white-color);
  cursor: pointer;
  margin: 10px 0;
}
.btn:hover {
  background-color: var(--grey-color);
}
